<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mathics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Mathics.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>340, 440</value>
            </setting>
            <setting name="Precision" serializeAs="String">
                <value>4</value>
            </setting>
        </Mathics.Properties.Settings>
    </userSettings>
</configuration>
